* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* border: 1px solid purple; */
}

.bodyA {
    background: url("./images/bg-main-desktop.png") no-repeat center center/cover;
    height: 100%;
    width: 32.7%;
    /* border: 1px solid black; */
}

.bodyB {
    background: white;
    /* height: 100%; */
    width: 67.3%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10% 45px; */
}

.cards {
    /*position: relative;*/
    padding-top: 21.3%;
    height: 100%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    gap: 50px;
    transform: translateX(140px);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardFront {
    background: url("./images/bg-card-front.png") no-repeat center center/cover;
    height: 245px;
    width: 447px;
    /* position: absolute; */
    /* left: 20.4%; */
    /*border: 1px solid black;*/
    border-radius: 12px;
}

.cardFrontContent {
    padding: 30px;
}

.cardNumber {
    /* text-align: center; */
    color: white;
    font-size: 38px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.nameExpDate {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.cardBack {
    background: url("./images/bg-card-back.png") no-repeat center center/cover;
    height: 245px;
    width: 447px;
    /*border: 1px solid black;*/
    border-radius: 12px;
    transform: translateX(85px);
}

.cardBackContent {
    height: 100%;
    width: 100%;
    position: relative;
}

.cardCVC {
    position: absolute;
    right: 13%;
    top: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

.form-container {
    padding: 20% 186px 20% 350px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

input {
    width: 100%;
    padding: 14px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    outline: none;
    transition: all .8s ease;
}

input:focus {
    border-color: blue;
}

input.error {
    /* border-color: #ff0000; */
}

.error-msg {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.dateCvc {
    display: flex;
    /* width: 100%; */
    gap: 20px;
    /* border: 1px solid; */
    /* justify-content: space-between; */
}

.exp-date {
    display: flex;
    gap: 10px;
    align-items: center;
}

.exp-date input {
    /* width: 79px; */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #21043b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all .8s ease;
}

button:hover {
    background-color: #440a77;
}

/* Media Queries for responsiveness */

/* Extra large screens */
@media (min-width: 1920px) {}

/* Desktops */
@media (min-width:1200px) and (max-width:1919px) {
    .form-container {
        /* padding: 20% 275px 10% 100px; */
        padding: 20% 90px 20% 350px;
    }
}

/* Laptops/Large tablets */
@media (min-width:992px) and (max-width:1199px) {
    .cards {
        padding-top: 21.3%;
        height: 100%;
        transform: translateX(60px);
    }

    .form-container {
        /* padding: 20% 275px 10% 100px; */
        padding: 20% 20px 20% 310px;
    }
}

/* small tablets */
@media (min-width:768px) and (max-width:991px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .bodyA, .bodyB {
        width: 100%;
    }

    .bodyA {
        height: 30%;
    }

    .cards {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding-top: 21%;
        height: 100%;
        /* border: 1px solid black; */
        translate: -15% 1%;
    }

    .card-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
    }

    .cardFront {
        translate: -30% -52%;
        z-index: 2;
    }

    .form-container {
        padding: 20% 70px;
    }
}

/* Extra small devices */
@media (min-width:481px) and (max-width:767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .bodyA, .bodyB {
        width: 100%;
    }

    .bodyA {
        height: 20%;
    }

    .cards {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding-top: 1%;
        height: 100%;
        /* border: 1px solid black; */
        translate: -29% 25%;
    }

    .card-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
    }

    .cardFront {
        translate: -30% -56%;
        z-index: 2;
    }

    .cardFront, .cardBack {
        height: 159px;
        width: 287px;
    }

    .cardFrontContent {
        padding: 20px;
    }

    .cardNumber {
        color: white;
        font-size: 24px;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nameExpDate {
        display: flex;
        justify-content: space-between;
        color: white;
        margin-top: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .form-container {
        padding: 20% 70px;
    }
}

/* Mobile */
@media (min-width:320px) and (max-width:480px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .bodyA, .bodyB {
        width: 100%;
    }

    .bodyA {
        height: 30%;
    }

    .cards {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding-top: 1%;
        height: 100%;
        /* border: 1px solid black; */
        translate: -29% 25%;
    }

    .card-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
    }

    .cardFront {
        translate: -30% -56%;
        z-index: 2;
    }

    .cardFront, .cardBack {
        /* height: 159px; */
        /* width: 287px; */
        height: 159px;
        width: 245px;
    }

    .cardBack {
        transform: translateX(-25px);
}

    .cardFrontContent {
        padding: 20px;
    }

    .cardNumber {
        color: white;
        font-size: 20px;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nameExpDate {
        display: flex;
        justify-content: space-between;
        color: white;
        margin-top: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .form-container {
        padding: 35% 10px;
    }

    .dateCvc {
        gap: 10px;
    }
}